@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color: #5a5962;
}

.alice-carousel__dots {
    margin-top: -12px !important;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.alice-carousel__dots-item {
    width: 15px !important;
    height: 15px !important;
    opacity: 20%;
    background: #585858 !important;
    color: #1b1b1b;
}
.alice-carousel__dots .__active {
    opacity: 100%;
}

a {
    @apply p-2 rounded-xl;
}

a:hover {
    @apply bg-gray-100 transition-colors duration-200;
}

.btn {
    @apply border border-black/30 px-2 py-1 rounded-lg;
}
