@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color: #5a5962
}

.alice-carousel__dots{
    margin-top: 2px !important;
}
.alice-carousel__dots-item{
    width: 12px !important;
    height: 12px !important;
    opacity: 20%;
    background: #585858 !important;
}
.alice-carousel__dots .__active{
    opacity: 100%;
}

a{
    @apply p-2 rounded-xl
}

a:hover{
    @apply bg-gray-100 transition-colors duration-200
}

.btn {
    @apply border border-black/30 px-2 py-1 rounded-lg;
}
